<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <display-name>Practica2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>stock</param-name>
    <param-value>/WEB-INF/recursos/stock.txt</param-value>
  </context-param>
  <servlet>
    <description>Login de usuario</description>
    <display-name>LoginUsr</display-name>
    <servlet-name>LoginUsr</servlet-name>
    <servlet-class>misservlets.LoginUsr</servlet-class>
    <init-param>
      <param-name>pepe</param-name>
      <param-value>123</param-value>
    </init-param>
    <init-param>
      <param-name>pedro</param-name>
      <param-value>321</param-value>
    </init-param>
    <init-param>
      <param-name>paco</param-name>
      <param-value>312</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUsr</servlet-name>
    <url-pattern>/LoginUsr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Lista de productos disponibles</description>
    <display-name>Productos</display-name>
    <servlet-name>Productos</servlet-name>
    <servlet-class>misservlets.Productos</servlet-class>
    <init-param>
      <description></description>
      <param-name>golo1</param-name>
      <param-value>chupetin</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>golo2</param-name>
      <param-value>chocolate</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>golo3</param-name>
      <param-value>alfajor</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>pu1</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>pu2</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>pu3</param-name>
      <param-value>1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Productos</servlet-name>
    <url-pattern>/Productos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Termina la sesion de compra</description>
    <display-name>TerminarSesion</display-name>
    <servlet-name>TerminarSesion</servlet-name>
    <servlet-class>misservlets.TerminarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TerminarSesion</servlet-name>
    <url-pattern>/TerminarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet para facturar lo pedido por el usuario</description>
    <display-name>Facturar</display-name>
    <servlet-name>Facturar</servlet-name>
    <servlet-class>misservlets.Facturar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Facturar</servlet-name>
    <url-pattern>/Facturar</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>misservlets.InicializaStock</listener-class>
  </listener>
</web-app>