/antlr-2.7.7.jar
/aopalliance-repackaged-2.4.0-b10.jar
/asm-debug-all-5.0.2.jar
/c3p0-0.9.1.jar
/dom4j-1.6.1.jar
/hibernate-c3p0-4.1.8.Final.jar
/hibernate-commons-annotations-4.0.1.Final.jar
/hibernate-core-4.1.8.Final.jar
/hibernate-entitymanager-4.1.8.Final.jar
/hibernate-jpa-2.0-api-1.0.1.Final.jar
/hibernate-validator-4.1.0.Final.jar
/hk2-api-2.4.0-b10.jar
/hk2-locator-2.4.0-b10.jar
/hk2-utils-2.4.0-b10.jar
/jackson-annotations-2.5.4.jar
/jackson-core-2.5.4.jar
/jackson-databind-2.5.4.jar
/jackson-jaxrs-base-2.5.4.jar
/jackson-jaxrs-json-provider-2.5.4.jar
/jackson-module-jaxb-annotations-2.5.4.jar
/javassist-3.15.0-GA.jar
/javax.inject-2.4.0-b10.jar
/javax.ws.rs-api-2.0.1.jar
/jaxb-api-2.2.7.jar
/jboss-logging-3.1.0.GA.jar
/jboss-transaction-api_1.1_spec-1.0.0.Final.jar
/jersey-client.jar
/jersey-common.jar
/jersey-container-servlet-core.jar
/jersey-container-servlet.jar
/jersey-entity-filtering-2.17.jar
/jersey-guava-2.17.jar
/jersey-media-jaxb.jar
/jersey-media-json-jackson-2.17.jar
/jersey-server.jar
/mysql-connector-java-5.1.45.jar
/org.osgi.core-4.2.0.jar
/osgi-resource-locator-1.0.1.jar
/slf4j-api-1.6.1.jar
/validation-api-1.1.0.Final.jar
